.places__item {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: max-content 460px max-content;
    grid-gap: 48px 40px;
    grid-template-areas:
    'header author'
    'image text'
    'button .';
    padding-bottom: 80px;
}

@media screen and (max-width: 1279px) {
    .places__item {
        grid-column-gap: 28px;
        grid-template-rows: 1fr 340px 2fr;
        grid-template-columns: 340px 1fr;
        margin: 0 24px 73px 24px;
        padding-bottom: 0;
    }
    .places__item:last-of-type {
        grid-template-rows: 1fr 340px 3.2fr;
    }
}

@media screen and (max-width: 767px) {
    .places__item {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content min-content min-content;
        grid-row-gap: 30px;
        grid-template-areas:
            'header'
            'author'
            'image'
            'text'
            'button';
        padding-bottom: 50px;
        margin: 0;
    }
    .places__item:last-of-type {
        grid-template-rows: min-content min-content min-content min-content min-content;
    }
}

@media screen and (max-width: 320px) {
    .places__item:last-of-type {
        padding-bottom: 0;
    }
}